extends layout

block content
  h1 Covid 19 Detaylı Sayılar
  hr
  .row
    .col-md-6
    table(style='width:100%', border='1')
      thead
        tr 
          th Şehir
          th Haftalık Yüz Bin 
          th Günlük Yüz Bin
          th Haftalık Yaklaşık Sayı
          th Günlük Yaklaşık Sayı
      tbody
        each val in records
          tr
            td=val.city.name
            td=val.weekly100
            td=val.daily100
            td=val.weeklyCount
            td=val.dailyCount
